# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin/debug
/bld/.vs/MUSI6106/v16/*.suo
bld
/lib/debug/*.exp
/*.bak
/src/MUSI6106Exec/*.bak
/src/Tests/TestExec/*.bak
/src/Tests/Tests/*.bak
/src/CombFilter/*.bak
/src/inc/*.bak
/bin
/doc
/lib
/src/Dtw/*.bak
/inc/*.bak
/src/AudioFileIO/*.bak
/3rdparty/sndlib/autom4te.cache/output.0
/3rdparty/sndlib/autom4te.cache/output.1
/3rdparty/sndlib/autom4te.cache/requests
/3rdparty/sndlib/autom4te.cache/traces.0
/3rdparty/sndlib/autom4te.cache/traces.1
/cmake.modules/*.bak
/2022-MUSI6106-cppcheck-build-dir
/src/*.bak
/build/inc
/src/Vibrato/*.bak
